[submodule "mshadow"]
	path = mshadow
	url = https://github.com/yang-h/mshadow.git
[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/dmlc/dmlc-core.git
[submodule "ps-lite"]
	path = ps-lite
	url = https://github.com/dmlc/ps-lite
[submodule "nnvm"]
	path = nnvm
	url = https://github.com/yang-h/nnvm
[submodule "dlpack"]
	path = dlpack
	url = https://github.com/dmlc/dlpack
[submodule "cub"]
	path = cub
	url = https://github.com/dmlc/cub
